* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins';
}

nav{
  display: flex;
  padding: 20px;
  align-items: center;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  width: 82px;
  height: 25px;
  max-width: 100px;
}
section{
  padding: 20px;
}
/* Hero
Component */
.hero-container {
  display: flex;
  flex-direction: column;
  color: #000000;
}
.hero-img{
  max-width: 400px;
  align-self: center;
}

.hero-container > h1{
  margin-bottom: 16px;
  font-weight: 600;
}
.hero-container > p{
  margin-top: 0px;
  font-weight: 300;
}

/* cards container
 */
.gray{
  color: #918E9B;
}
.card-container{
  width: 175px;
  font-size: 12px;
}
.star-rating{
  
  display: flex;
  align-items: center;
}

.img-1{
  width: 100%;
  border-radius: 9px;
}

.star{
  height: 14px;
}

.bold{
  font-weight: bold;
}
